:root{
    --ColorA: #DCEDFF;
    --ColorB: #94B0DA;
    --ColorC: #8F91A2;
    --ColorD: #505A5B;
    --ColorE: #343F3E;

}

.container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 2%;
    flex:1;
    background-color: white;
    border-bottom: 1px solid;
}
.posterContainer{
    margin: 2%;
    border-radius:12px;
    display: flex;
    align-items: center;
    background-color: var(--ColorC);
}
.PostDisplayerContainer{
    display: grid;
}
.PostCardContainer{
    padding:2%;
    margin: 2%;
    height: 30%;
    width: 30%;
    border-radius:12px;
    display: flex;
    align-items: center;
    background-color: var(--ColorC);
}
.label{
    color:  black;
    padding-left: 2%;
    font-size: 12;
    
}
.errText{
    color: rgb(229, 0, 0);
    padding-left: 2%;
    font-size: 12;
}
.title{
    align-self: flex-start;
    color: black;
    font-weight: 100;
    font-size: 48;
}
.tab{
    list-style-type: none;
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    padding-right:8px;
    justify-content: right;
    cursor: pointer;
}
a:active{
    font-weight: bold;
}
.tabLink{
    padding-right:12px;
    font-weight: 100;
    font-size: 24;
}

.input {
    padding: 2%;
    margin: 2%;
    border-radius: 12px;
    border: 2px;
}
.button {
    padding: 4%;
    margin:2%;
    background-color: var(--ColorB);
    color: black;
    border: none;
    border-radius: 2cqb;
    cursor: pointer;
    font-weight:100;
    float:right;
}
