:root{
    --ColorA: rgb(251, 253, 226);
    --ColorB: #fae2a6;
    --ColorC: #e5e6ee;
    --ColorD: #4e5758;
    --ColorE: #343F3E;

}

.header{
    display:flex;
    flex-direction: row;
    /* align-items: center; */
    padding: 1%;
    flex:1;
    background-color: white;
    border-bottom: 1px solid;
}
.posterContainer{
    margin: .5%;
    border-radius:12px;
    display: flex;
    align-items: center;
    background-color: var(--ColorC);
}
.PostDisplayerContainer{
    display: flex;
}
.PostCardContainer{
    padding:1%;
    margin: 1%;
    border-radius:12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--ColorC);
}
.label{
    color:  black;
    padding-left: 2%;
    font-size: 18px;
    font-weight: 100;

}
.contentText{
    color:  black;
    padding-left: 2%;
    font-size: 16x;
    font-weight: 100;
}
.errText{
    color: rgb(255, 0, 0);
    padding-left: 2%;
    font-weight: 100;
}
.title{
    display:flex;
    align-self: flex-start;
    color: black;
    font-weight: 100;
    font-size: 5vh;
}
.subtitle{
    font-weight: 100;
    font-size: 1.5vh;
}

.tab{
    list-style-type: none;
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    padding-right:8px;
    justify-content: right;
    cursor: pointer;
}


.tabLink{
    padding-right:12px;
    font-weight: 100;
    font-size: 24;
}

.input {
    padding: 2%;
    margin: 2%;
    border-radius: 12px;
    border: 2px;
}
.button {
    padding: 2%;
    margin:2%;
    background-color: var(--ColorB);
    color: black;
    border: none;
    border-radius: 2cqb;
    cursor: pointer;
    font-weight:100;
    float:right;
    font-size: 12px;
}
.button:hover{
    background-color:var(--ColorD);
}


.postInfo{
    background-color: var(--ColorD);
    border-radius: 12px;
    margin:2%;
    padding:2%;
}

.voteDisplay{
    color:white;
    padding: 2%;
    
}